body{
    background: url(../images/background2.gif);
}
.container{
    width: auto;
    margin: 0;
}
header{
    height: 108px;
    background-color: #675c47;
    margin-bottom: 8px;
}
#logo{
    float: left;
}
#slogan{
    float: right;
}
.menubar{
    height: 30px;
    background-color: #efe5d0;
/*    padding: 5px 5px 5px 5px;*/
/*    margin: 10px 10px 0px 10px;*/
    padding-top: 10px;
    margin-bottom: 8px;
}
.menubar a{
    text-decoration: none;
    margin-left: 10px;
    color: #b76666;
}
.menubar a:active{
    color: #675c47;
}
.tableContainer{
    display: table;
    clear: both;
    content: "";
    width: 100%;
}
.tableRow{
    display: table-row;
}
#bean{
    color: darkslategrey;
}
.middle p a:link{
    color: #b76666;
}
.left{
    display: table-column;
    float: left;
    width: 14%;
    background-color: #efe5d0;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    margin-right: 8px;
    height: 420px;
}
.middle{
    display: table-column;
    background-color: #efe5d0;
    width: 60%;
    float: left;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    height: 420px;
}
.right{
    display: table-column;
    float: right;
    width: 22%;
    background-color: #efe5d0;
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    margin-left: 8px;
    height: 420px;
}
h1{
    color: #b76666;
    font-size: 14px;
}
footer{
    min-height: 60px;
    background-color: #6b5d4a;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 20px;
    vertical-align: middle;
}
p{
    font-family: Geogoria, Time New Romans;
    font-size: 12px;
}
h2{
    color: #b76666;
    text-align: center;
    font-size: 14px;
}
#form{
    background-image: url(../images/background.gif);
    width: 694px;
    display: block;
    margin: 0 auto;
}
label{
    float: left;
    width: 150px;
    text-align: right;
    padding-right: 12px;
    margin-top: 12px;
    clear: left;
}
input, textarea, select{
    margin-top: 12px;
}
#submit{
/*    float: left;*/
    padding-right: 12px;
    margin-left: 160px;
    margin-bottom: 12px;
}
h4{
  text-align: right;
    width: 150px;
    padding-right: 12px;
    clear: left;
}
#beanmachine{
    display: block;
    margin: 0 auto;
    width: 694px;
}
.fill{
    display: block;
    margin: 0 auto;
    width: 694px;
}
.fill p{
    font-size: 20px;
    font-family: Geogoria, Time New Romans;
}